@import "../../../utility";

.list {
  @include grid(4rem, 20rem);
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    box-shadow: $box-shadow;
    padding: 1rem;
    .content {
      cursor: pointer;
      flex-grow: 1;
      border-right: solid .1rem $primary-color;
      .title {
        font-weight: bolder;
      }
      .date {
        opacity: .8;
      }
    }
    .actions {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 1rem;
    }
  }
  @media (max-width: 469px) {
    @include grid(4rem, 15rem);
  }
}