.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    .title {
      font-size: xx-large;
      font-weight: bolder;
      text-transform: uppercase;
      text-align: center;
    }
    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      @media (max-width: 469px) {
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}



